{% extends "dashboard.html" %}

{% block title %}
   Edit Profile
{% endblock %}

{% block header %}
    <h1>Edit Profile</h1>
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<div>
    <form action="{{ url_for('edit_profile') }}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ profile.Username }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ profile.Email }}</td>    
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{ profile.Phone }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{ profile.FirstName }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ profile.LastName }}</td>
        </tr>
        <tr>
            <td>Wechat:</td>
            <td>{{ profile.Wechat }}</td>
        </tr>
        {% if user_type=='Customer' %}
        <tr>
            <td>Preferences:</td>
            <td>{{ profile.Preferences }}</td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td>{{ profile.Notes }}</td>
        </tr>
        {% endif %}
        <tr> 
            <td><button type="submit" class="btn btn-primary">Update Profile</button></td>
        </tr>
        
    </table>
   
</form>
</div>
<!--     
    <form action="{{ url_for('edit_profile') }}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ profile.Email }}" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" value="{{ profile.Phone }}" required>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ profile.FirstName }}" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ profile.LastName }}" required>

        <label for="wechat">Wechat:</label>
        <input type="text" id="wechat" name="wechat" value="{{ profile.Wechat }}">

        

        
        <button type="submit">Update Profile</button>
    </form> -->
{% endblock %}
