{% extends "dashboard.html" %}

{% block title %}Add Agent{% endblock %}

{% block header %}
Add Agent
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<form action="{{ url_for('add_agent') }}" method="post">
    <table>
        <tr>
            <td><input type="text" name="first_name" placeholder="First Name"></td>
        </tr>
        <tr>
            <td><input type="text" name="last_name" placeholder="Last Name"></td>
        </tr>
        <tr>
            <td><input type="email" name="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td><input type="text" name="phone" placeholder="Phone Number"></td>
        </tr>
        <tr>
            <td><input type="text" name="wechat" placeholder="Wechat"></td>
        </tr>
        <tr>
            <td><input type="text" name="agency_name" placeholder="Agency Name"></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" type="submit">Add Agent</button></td>
        </tr>
    </table>
</form>

{% endblock %}
