{% extends "dashboard.html" %}

{% block title %}Add Agent{% endblock %}

{% block header %}
Add Agent
{% endblock %}

{% block nested_content %}

<h2>Add New Agent</h2>
<form action="{{ url_for('add_agent') }}" method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Phone Number">
    <input type="text" name="wechat" placeholder="Wechat">
    <input type="text" name="agency_name" placeholder="Agency Name">
    
    <button type="submit">Add Agent</button>
</form>
{% endblock %}
