
{% extends "dashboard.html" %}


{% block title %}
    Tours
{% endblock %}

{% block header %}
    Tour List
{% endblock %}


{% block nested_content %}

<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>   
   
    <div class="container mt-4">
        <div class="row">
            {% for tour in tours %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <div style="background-image: url('{{ url_for('static', filename='images/' + tour.Photo) if tour.Photo else url_for('static', filename='images/default-avatar.jpg') }}'); height: 250px; background-size: cover; background-position: center;"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{ tour.TourName }}</h5>
                            <p class="card-text">{{ tour.City }}, {{ tour.Region }}</p>
                            <p>{{ tour.TourDescription | truncate(150, true, '...') }}</p>
                            <a href="{{ url_for('tour_details', tour_id=tour.TourID) }}" class="btn btn-primary">Details</a>
                            {% if user_type == "Admin" %}
                                <a href="{{ url_for('edit_tour', tour_id=tour.TourID) }}" class="btn btn-primary">Edit</a>
                            {% endif %}
                            <!-- <button class="btn btn-info">Inquire</button> -->
                            {% if user_type == "Customer" %}
                            <button id="inquiryBtn-{{ tour.TourID }}" class="modal-btn inquiry-btn btn btn-primary" data-logged-in="{{ 'true' if session['UserID'] else 'false' }}">Inquire</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
           
        </div>
        
                <!-- The Inquiry Modal -->
                <div id="inquiryModal" class="modal">
                    <div class="modal-content">
                        <span style="position:absolute;right:0" class="close">&times;</span>
                        <!-- Inquiry form content here -->
                        <form  class="modal-form" action="{{ url_for('inquire') }}" id="inquiryForm" method="post">
                            <!-- Form fields will be dynamically populated -->
                            <input type="hidden" name="tour_id" id="modalTourId">
                            <input type="text" name="booking_account_name" placeholder="Key contact name" required>
                            <input type="text" name="booking_names" placeholder="Booking Names (comma-separated)" required>
                            <input type="date" name="selected_date" required>
                            <input type="number" name="adult_num" placeholder="Number of adults">
                            <input type="number" name="child_num" placeholder="Number of children">
                            <input type="number" name="infant_num" placeholder="Number of infants">
                            <input type="number" name="family_num" placeholder="Number of families">
                            <input type="text" name="pickup_location" placeholder="Pick-up location">
                            <textarea name="note" placeholder="Additional notes"></textarea>
                            <button type="submit">Submit Inquiry</button>
                        </form>
                    </div>
                </div>

    
                
                
            </div>
        
    
{% endblock %}



