{% extends "dashboard.html" %}

{% block title %}All Operators{% endblock %}

{% block header %}
   All Operators
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>

<table>
    <tr>
        <th>Operator Name</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    {% for operator in operators %}
    <tr>
        <td>{{ operator.OperatorName }}</td>
        <td>{{ operator.ContactName }}</td>
        <td>{{ operator.Email }}</td>
        <td>{{ operator.Phone }}</td>
        <td>{{ operator.Address }}</td>
        <td>
            <a href="{{url_for('edit_operator', operator_id = operator.OperatorID)}}" class="btn btn-primary">Edit</a>
            <a href="{{url_for('tours_for_operator', operator_id = operator.OperatorID)}}" class="btn btn-primary">View operator tours</a>
           
        
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
