{% extends "dashboard.html" %}

{% block title %}Add Booking{% endblock %}

{% block header %}
   Add Booking
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<form action="{{ url_for('add_booking') }}" method="post">
    <table>
        <!-- Tour ID Dropdown -->
        <tr>
            <td><label for="TourID">Tour:</label></td>
            <td>
                <select name="TourID" id="TourID">
                    {% for tour in tours %}
                        <option value="{{ tour.TourID }}">{{ tour.TourName }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <!-- Customer ID Dropdown -->
        <tr>
            <td><label for="CustomerID">Customer:</label></td>
            <td>
                <select name="CustomerID" id="CustomerID">
                    {% for customer in customers %}
                        <option value="{{ customer.CustomerID }}">{{ customer.FirstName }} {{ customer.LastName }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <!-- Agent ID Dropdown -->
        {% if user_type != 'agent' %}
        <tr>
            <td><label for="AgentID">Agent:</label></td>
            <td>
                <select name="AgentID" id="AgentID">
                    {% for agent in agents %}
                        <option value="{{ agent.AgentID }}">{{ agent.FirstName }} {{ agent.LastName }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endif %}
        <!-- Booking Account Name -->
        <tr>
            <td><label for="BookingAccountName">Booking Account Name:</label></td>
            <td><input type="text" id="BookingAccountName" name="BookingAccountName" value=""></td>
        </tr>
        <!-- Booking Names -->
        <tr>
            <td><label for="BookingNames">Booking Names:</label></td>
            <td><input type="text" id="BookingNames" name="BookingNames" value=""></td>
        </tr>
        <!-- Tour Date -->
        <tr>
            <td><label for="TourDate">Tour Date:</label></td>
            <td><input type="date" id="TourDate" name="TourDate" value=""></td>
        </tr>
        <!-- Confirmation Number -->
        <tr>
            <td><label for="ConfirmationNum">Confirmation Number:</label></td>
            <td><input type="text" id="ConfirmationNum" name="ConfirmationNum" value=""></td>
        </tr>
        <!-- Booking Number -->
        <tr>
            <td><label for="BookingNum">Booking Number:</label></td>
            <td><input type="text" id="BookingNum" name="BookingNum" value=""></td>
        </tr>
        <!-- Adult Quote -->
        <tr>
            <td><label for="AdultQuote">Adult Quote:</label></td>
            <td><input type="number" id="AdultQuote" name="AdultQuote" value=""></td>
        </tr>
        <!-- Number of Adults -->
        <tr>
            <td><label for="AdultNum">Number of Adults:</label></td>
            <td><input type="number" id="AdultNum" name="AdultNum" value=""></td>
        </tr>
        <!-- Child Quote -->
        <tr>
            <td><label for="ChildQuote">Child Quote:</label></td>
            <td><input type="number" id="ChildQuote" name="ChildQuote" value=""></td>
        </tr>
        <!-- Number of Children -->
        <tr>
            <td><label for="ChildNum">Number of Children:</label></td>
            <td><input type="number" id="ChildNum" name="ChildNum" value=""></td>
        </tr>
        <!-- Infant Quote -->
        <tr>
            <td><label for="InfantQuote">Infant Quote:</label></td>
            <td><input type="number" id="InfantQuote" name="InfantQuote" value=""></td>
        </tr>
        <!-- Number of Infants -->
        <tr>
            <td><label for="InfantNum">Number of Infants:</label></td>
            <td><input type="number" id="InfantNum" name="InfantNum" value=""></td>
        </tr>
        <!-- Family Quote -->
        <tr>
            <td><label for="FamilyQuote">Family Quote:</label></td>
            <td><input type="number" id="FamilyQuote" name="FamilyQuote" value=""></td>
        </tr>
        <!-- Number of Families -->
        <tr>
            <td><label for="FamilyNum">Number of Families:</label></td>
            <td><input type="number" id="FamilyNum" name="FamilyNum" value=""></td>
        </tr>
        <!-- BookingStatus --> 
        <tr>
            <td><label for="BookingStatus">Booking Status:</label></td>
            <td>
                <select name="BookingStatus" id="BookingStatus">
                    <option value="Quote">Quote</option>
                    <option value="Pending Payment">Pending Payment</option>
                    <option value="Pending Confirmation">Pending Confirmation</option>
                    <option value="Confirmed">Confirmed</option>
                    <option value="Cancelled and Refunded">Cancelled and Refunded</option>
                    <option value="Cancelled and Charged">Cancelled and Charged</option>
                </select>
            </td>
        </tr>
        <!-- Note -->
        <tr>
            <td><label for="Note">Note:</label></td>
            <td><textarea id="Note" name="Note"></textarea></td>
        </tr>
        <!-- Submit Button -->
        <tr>
            <td colspan="2" style="text-align: center;"><button class="btn btn-primary" type="submit">Add Booking</button></td>
        </tr>
    </table>
</form>

{% endblock %}