{% extends "dashboard.html" %}

{% block title %}All Bookings{% endblock %}

{% block header %}
   All Bookings
{% endblock %}
{% block nested_content %}
<div class="container">
    <h2>All Bookings</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Operator</th>
                <th>Tour Name</th>
                <th>Date</th>                
                <th>Pax</th>
                <th>Quoted Prices</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.FirstName }} {{ booking.LastName }}</td>
                <td>{{ booking.OperatorName }}</td>
                <td>{{ booking.TourName }}</td>
                <td>{{ booking.TourDate }}</td>
                
                <td>Adult(s): {{ booking.AdultNum }} | Child(ren): {{ booking.ChildNum }} | Infant:{{ booking.InfantNum }} | Family: {{ booking.FamilyNum }}</td>
                <td>
                    Adult: ${{ booking.AdultQuote }} | Child: ${{ booking.ChildQuote }} |
                    Infant: ${{ booking.InfantQuote }} | Family: ${{ booking.FamilyQuote }}
                </td>
                <td>${{ booking.TotalQuote }}</td>                
                <td>
                    <!-- Update Booking Status Dropdown -->
                    <form action="{{ url_for('update_booking_status', booking_id=booking.BookingID) }}" method="post">
                        <select name="new_status">
                            {% set statuses = ['Quote', 'Pending Payment', 'Pending Confirmation', 'Confirmed', 'Cancelled and Refunded', 'Cancelled and Charged'] %}
                            {% for status in statuses %}
                                <option value="{{ status }}" {% if status == booking.BookingStatus %}selected{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Update Status</button>
                    </form>
                    
                    <a href="{{ url_for('edit_booking', booking_id=booking.BookingID) }}" class="btn btn-secondary">Edit</a>

                    
                    <!-- <form action=  "{{ url_for('update_booking_status', booking_id=booking.BookingID) }}" method="post">
                        <select name="new_status">
                            <option value="Quote">Quote</option>
                            <option value="Pending Payment">Pending Payment</option>
                            <option value="Pending Confirmation">Pending Confirmation</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Cancelled and Refunded">Cancelled and Refunded</option>
                            <option value="Cancelled and Charged">Cancelled and Charged</option>
                        </select>
                        <button type="submit">Update Status</button>
                    </form> -->
                   <a href="#">Send Email</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
