{% extends "dashboard.html" %}

{% block title %}
    My Bookings
{% endblock %}

{% block header %}
    My Bookings
{% endblock %}

{% block nested_content %}
<h1>My Bookings</h1>
    <div>
        {% for booking in bookings %}
            <div class="booking">
                <h3>Booking ID: {{ booking.BookingID }}</h3>
                <p>Tour: {{ booking.TourName }}</p>
                <p>Date: {{ booking.TourDate }}</p>
                <p>Status: {{ booking.BookingStatus }}</p>
                <p>Adults: {{ booking.AdultNum }}</p>
                <p>Children: {{ booking.ChildNum }}</p>
                <p>Infants: {{ booking.InfantNum }}</p>
                <p>Families: {{ booking.FamilyNum }}</p>
                <p>Pick-Up Location: {{ booking.PickUpLocation }}</p>
                <p>Note: {{ booking.Note }}</p>

            </div>
        {% else %}
            <p>No bookings found.</p>
        {% endfor %}
    </div>
{% endblock %}