{% extends "dashboard.html" %}

{% block title %}My Bookings{% endblock %}

{% block header %}
   My Bookings
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<div class="container">
    <h2>My Bookings</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tour Name</th>
                <th>Date</th>
                <th>Operator/Customer</th>
                <th>Status</th>
                <th>Pax</th>
                <th>Quoted Prices</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.TourName }}</td>
                <td>{{ booking.TourDate }}</td>
                <td>{{ booking.OperatorName or booking.CustomerName }}</td>
                <td>{{ booking.BookingStatus }}</td>
                <td>Adults: {{ booking.AdultNum }}, Children: {{ booking.ChildNum }}</td>
                <td>Adult: ${{ booking.AdultQuote }}, Child: ${{ booking.ChildQuote }}</td>
                <td>${{ booking.TotalQuote }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
