{% extends "dashboard.html" %}

{% block title %}Edit Customer{% endblock %}

{% block header %}
  Edit Customer
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<form action="{{ url_for('edit_customer', customer_id=customer.CustomerID) }}" method="post">
  <table>
      <tr>
          <td><label for="first_name">First Name:</label></td>
          <td><input type="text" id="first_name" name="first_name" value="{{ customer.FirstName }}"></td>
      </tr>
      <tr>
          <td><label for="last_name">Last Name:</label></td>
          <td><input type="text" id="last_name" name="last_name" value="{{ customer.LastName }}"></td>
      </tr>
      <tr>
          <td><label for="email">Email:</label></td>
          <td><input type="email" id="email" name="email" value="{{ customer.Email }}"></td>
      </tr>
      <tr>
          <td><label for="phone">Phone:</label></td>
          <td><input type="text" id="phone" name="phone" value="{{ customer.Phone }}"></td>
      </tr>
      <tr>
          <td><label for="wechat">Wechat:</label></td>
          <td><input type="text" id="wechat" name="wechat" value="{{ customer.Wechat }}"></td>
      </tr>
      <tr>
          <td><label for="preferences">Preferences:</label></td>
          <td><input type="text" id="preferences" name="preferences" value="{{ customer.Preferences }}"></td>
      </tr>
      <tr>
          <td><label for="notes">Notes:</label></td>
          <td><input type="text" id="notes" name="notes" value="{{ customer.Notes }}"></td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: center;"><button class="btn btn-primary" type="submit">Update Customer</button></td>
      </tr>
  </table>
</form>

{% endblock %}
