{% extends "index.html" %}

{% block title %}About us{% endblock %}

{% block content %}

<div class="header_banner"></div>
<div class="container">
    <h1>About us</h1>

    <p>At Hororata Clinic, we have a rich history of providing unparalleled healthcare services that date back decades. Nestled in the heart of the community, our clinic stands as a beacon of hope and wellness, dedicated to improving the lives of every individual we serve. Our team of seasoned professionals, from general practitioners to specialized care experts, is committed to offering a holistic approach to healthcare. We blend modern medicine with time-tested healing techniques, ensuring that every patient receives care that is both comprehensive and compassionate.</p>

    <p>The ethos of Hororata Clinic revolves around the well-being of our community. We believe in not just treating the illness but understanding the individual behind it. Our state-of-the-art facilities, coupled with a warm and inviting ambiance, ensure that every visit is comfortable and reassuring. We continuously strive to enhance our services, incorporating the latest in medical advancements and tailoring our care to meet the unique needs of our diverse community. At Hororata Clinic, you're not just a patient; you're family. Join us on a journey towards better health and a brighter tomorrow.</p>

</div>
{% endblock %}
