{% extends "index.html" %}
{% block title %}Our Team{% endblock %}


{% block content %}
<div class="header_banner"></div>
<div class="container">
 
  

 
  
    <!-- <div class="container mt-4"> -->
        <h1>Our Team</h1>
        <br/>
       
        <div class="row">
            {% for team in teams %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 24rem;">
                        <!-- <img src="static/{{team.photo}}" class="card-img-top" alt="team member image"> -->
                        <!-- <img src="{{ url_for('static', filename=team.photo if team.photo else '/images/default-avatar.jpg') }}" class="card-img-top" alt="team member image"> -->
                        <div style="background-image:url('{{ url_for('static', filename=team.photo) if team.photo else url_for('static', filename='/images/default-avatar.jpg') }}'); min-height:300px; width:auto; background-size:cover; background-position:center; background-repeat:no-repeat;" class="card-img-top"></div>

                        <div class="card-body">
                            <h5 class="card-title">{{ team.name }}</h5>
                            <p class="card-text">{{ team.role}}</p>  
                            {% if team.role == 'Doctor' %}
                            <a href="{{ url_for('doctor_bio', doctor_id=team.id) }}"><button class="btn btn-dark">View Bio</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 and not loop.last %}
                    </div><div class="row"> 
                        <!-- Close and open a new row every 3 team members -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
<!-- </div> -->
    


    {% endblock %}
    

  
            



