{% extends 'index.html' %}

<!-- start content block  -->
{% block content %}


<!-- Sidebar navigation items  -->
<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                {# Show dashboard for all users #}
                <a href="{{ url_for('dashboard') }}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-tachometer-alt fa-stack-1x "></i>
                    </span>
                    Dashboard
                </a>`
            </li>
            {% if session['role'] == 'Agent' %}
            <li>
                <a href="{{url_for('agent_inquiries')}}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-calendar-check fa-stack-1x "></i>
                    </span>
                    Inquiries
                </a>
            </li>
            <li>
           
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-book-medical fa-stack-1x "></i>
                    </span>
                    Bookings
                </a>
            </li>
            
            {% endif %}
            {% if session['role'] == 'Admin' %}
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-calendar-check fa-stack-1x "></i>
                    </span>
                    Inquiries
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-hospital-user fa-stack-1x "></i>
                    </span>
                    Bookings
                </a>
            </li>            
            <li>
                <a href="#"> 
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-clipboard-user fa-stack-1x "></i>
                    </span>
                    Tour Admin
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">                   
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard-user fa-stack-1x"></i></span>Operators</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard-user fa-stack-1x"></i></span>Tours</a></li>
                    
                </ul>
            </li>
            <li>
                <a href="#"> 
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-clipboard-user fa-stack-1x "></i>
                    </span>
                    User Admin
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">                   
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard-user fa-stack-1x"></i></span>Agents</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard-user fa-stack-1x"></i></span>Customers</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard-user fa-stack-1x"></i></span>Profiles</a></li>
                    
                </ul>
            </li>
            <li>
                <a href="#"> 
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-syringe fa-stack-1x "></i>
                    </span>
                    My Profile
                </a>
            </li>
          
            {% endif %}
            {% if session['role'] == 'Customer' %}
            <li>
                <a href="#"> 
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-calendar-check fa-stack-1x "></i>
                    </span>
                    My Inquiries
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-hospital-user fa-stack-1x "></i>
                    </span>
                    My Bookings
                </a>
            </li>
            
           
           
            {% endif %}
          


            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-gear fa-stack-1x "></i>
                    </span>
                    My Profile
                </a>
            </li>

 
            <li>
                <a href="{{url_for('logout')}}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fas fa-sign-out-alt fa-stack-1x "></i>
                    </span>
                    Logout
                </a>
            </li>
        </ul>
    </div>


    <!-- main content area in "function block" that is rendered on each individual html template： this will need to be unified-->
    <div class="nested_content">
        <div class="container">
        <h1>{% block header %}Dashboard{%endblock%}</h1>
        {% block nested_content %}
        <!-- default content only shows on dashboard page  -->
        <h2>Welcome back, {{ name }}!</h2>
        
        <p>This is your {{role}} dashboard, please use links below or in the sidebar to access different functionality
            of the system:</p>


        <!-- call to action boxes for easy access to main functions of the system  -->
       
        <ul class="cta-list">
            {% if session['role'] =='Customer' %}
            <li class="cta-item">
               <a href="#"><span class="fa-stack fa-lg pull-left"> <i class="fas fa-calendar-check fa-stack-1x "></i></span>Inquiries and Bookings</a>
                <p class="cta-description">View and manage rosters</p>
                <div style="display:inline-flex;">
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">My Inquiries</button></a>
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">My Bookings</button></a>
                </div>
            </li>
            <li class="cta-item">
                <a href="#"><span class="fa-stack fa-lg pull-left"> <i class="fas fa-calendar-check fa-stack-1x "></i></span>Tours</a>
                <p class="cta-description">View Tours</p>
            </li> 

            {% endif %}

            {% if session['role'] =='Admin' %} 
            <li class="cta-item">
                <a href="#"><span class="fa-stack fa-lg pull-left"> <i class="fas fa-calendar-check fa-stack-1x "></i></span>Reports</a>
                <p class="cta-description">View weekly or monthly reports.</p>
                <div style="display:inline-flex">
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">Invoice Reports</button></a>
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">Patients Report</button></a>
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">Tests Report</button></a>
                    <a href="#"><button class="btn btn-dark" style="margin-right:10px;">Appointments Report</button></a>
             
                    
                </div>
            </li>
           
            {% endif %}
            
            <li class="cta-item">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user fa-stack-1x "></i></span>My Profile</a>
                <p class="cta-description">View your profile or update your profile</p>
            </li>
        </ul>

        {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

<!-- JAVASCRIPT dependencies: this also has been included in the index.html -->
