{% extends "dashboard.html" %}

{% block title %}Reset Password{% endblock %}

{% block header %}
  Reset Password
{% endblock %}

{% block nested_content %}
<div style="display:inline-flex">
    {% include 'components/back_button.html' %}
</div>
<form action="{{ url_for('update_user', user_id=user.UserID) }}" method="post">
  <table>
      <tr>
          <!-- <td><label for="user_name">Username</label></td>
          <td><input type="text" id="user_name" name="user_name" value="{# user.Username #}"></td> -->
          <td>Username</td>
          <td>{{ user.Username }}</td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" id="password" name="password"></td>
        
      </tr>
      <tr>
        <td><label for="confirm_password">Confirm Password</label></td>
        <td><input type="password" id="confirm_password" name="confirm_password"></td>
        
      </tr>
      
      <tr>
       <td><button type="submit" class="btn btn-primary">Update </button></td>

      </tr>
      
  </table>
</form>

{% endblock %}
